{% extends 'newsfeed/base.html' %}
{% load static %}

{% block head_title %}Confirm Subscription{% endblock %}

{% block content %}
    {% if subscribed %}
        Subscription confirmed!
    {% else %}
        Subscription confirmation link has expired or is invalid.
        Please click on the button below to receive an e-mail with a new confirmation link.
        <form method="post" class="subscriptionForm" action="{% url 'newsfeed:newsletter_subscribe' %}">
            {% csrf_token %}
            <input type="hidden" name="email_address" required id="id_email_address" value="{{ object.email_address }}">
            <button type="submit">Try Again</button>
        </form>
        <div class="subscriptionMessage"></div>
    {% endif %}
{% endblock %}

{% block head_extra %}
    <script type="text/javascript" src="{% static 'newsfeed/js/newsletter_subscription.js' %}"></script>
{% endblock %}